#top {
  display: none;
}
h1 {
font-family: 'Orbitron', sans-serif;
}
.jumbotron {
  color: grey;
  text-align: center;
  font-size: 20px;
  background-color: #cefcfb;
}
.jumbotron h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Libre Barcode 39', cursive;
  color: #e8e8e6;
}
body {
  background-color: #500009;
  color: white;
}
#bye {
  display: none;
  color: red;
}
#bye1 {
  display: none;
  color: #540918;
  font-weight: bolder;
}
img {
  width: 10%;
  height: 10%;
}
#mad{
  display: none;
}
#mad2{
  display: none;
}
#fade {
  display: none;
}
#dont {
  display: none;
  color: red;
}
h3 {
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
ol {
  border: 2px solid grey;
  /* margin-left: 30%;
  margin-right: 30%; */
  background-color: #e7fee8;
  font-family: 'Orbitron', sans-serif;
}
label {
  font-family: 'Courgette', cursive;
}
button {
  opacity: 0.8;
  margin-left: 40%;
}
#fadeList{
  opacity: 0.8;
  color: black;
  display: none;
}

#fadeRever {
  opacity: 0.8;
  color: black;
  display: none;
}
